:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --rgba-color: rgba(255, 255, 255, 0.6);
  --black-color: #000000;
  --hover-btn: #188ce8;
  --icons-color: #afb1b8;
  --card-set-gap: 30px;
  --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.pic-list__link, .img-list__text, .icons-list__area, .connect__mail,
.connect__tel, .navigation, .header__container, .modal-form__check-text span, .modal-form__check-text, .modal__close, .socials__link, .btn {
  display: flex;
  align-items: center;
}

body {
  font-family: "roboto", sans-serif;
  color: var(--primary-text-color);
  background: var(--white-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo--color-dark {
  color: #000000;
  margin-right: 93px;
}

.logo--color-light {
  color: var(--white-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section-title {
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
  text-align: center;
}

.btn {
  font-family: inherit;
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  margin: 0 auto;
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  transition: background-color var(--transition);
}
.btn:hover, .btn:focus {
  background-color: var(--hover-btn);
}

.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.socials__item {
  width: 44px;
  height: 44px;
}

.socials__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  justify-content: center;
  transition: background-color var(--transition);
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
  fill: var(--white-color);
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity var(--transition), visibility var(--transition);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: var(--white-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition: transform var(--transition), border-radius var(--transition);
  padding: 40px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(1turn);
  border-radius: 50%;
}

.modal__close {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  justify-content: center;
  transition: fill var(--transition);
}
.modal__close:hover, .modal__close:focus {
  fill: var(--accent-color);
}

.modal__title {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 12px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: var(--primary-text-color);
  font-size: 14px;
  padding-left: 42px;
  padding-right: 12px;
  outline: transparent;
  transition: border var(--transition);
}
.modal-form__input:focus {
  border-color: var(--accent-color);
}

.modal-form__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.modal-form__field {
  margin-bottom: 10px;
}

.modal-comment {
  margin-bottom: 20px;
}

.modal-form__checkbox {
  margin-bottom: 30px;
}

.modal-form__comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  outline: transparent;
  resize: none;
  transition: border-color var(--transition);
}
.modal-form__comment:focus {
  border-color: var(--accent-color);
}
.modal-form__comment::-moz-placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 0.86;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__comment:-ms-input-placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 0.86;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__comment::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 0.86;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__input-wrap {
  position: relative;
}

.modal-form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: currentColor;
  transition: fill var(--transition);
}
.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__btn {
  width: 200px;
  height: 50px;
  padding: 10px 52px;
}

.modal-form__check-text {
  line-height: 1.7;
  color: var(--secondary-text-color);
  justify-content: center;
}

.modal-form__agree {
  color: var(--accent-color);
  margin-left: 5px;
}

.modal-form__check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  margin-right: 8px;
  justify-content: center;
  fill: transparent;
  transition: border-color var(--transition), fill var(--transition);
}
.input-check:checked + .modal-form__check-text span {
  background-color: var(--accent-color);
  border-color: transparent;
  fill: var(--white-color);
}
.input-check:checked + .modal-form__check-text span {
  border-color: var(--accent-color);
}

.menu {
  display: flex;
  gap: 50px;
}
.menu .link.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -1px;
  right: 0;
  background: var(--accent-color);
  border-radius: 2px;
}
.menu .link:hover, .menu .link:focus {
  color: var(--accent-color);
}
.menu .link.current {
  color: var(--accent-color);
}

.menu__link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.menu__link {
  display: block;
  transition: color var(--transition);
  position: relative;
}

.connect__mail,
.connect__tel {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-text-color);
  justify-content: center;
  fill: currentColor;
  transition: color var(--transition);
}
.connect__mail:hover, .connect__mail:focus,
.connect__tel:hover,
.connect__tel:focus {
  color: var(--accent-color);
}

.header {
  border-bottom: 1px solid #ececec;
}

/* header-contacts */
.connect {
  display: flex;
}

.connect__header {
  margin-left: auto;
  gap: 50px;
}

.connect__mail-icon,
.connect__tel-icon {
  margin-right: 10px;
}

.hero__container {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin: 0 auto;
  color: var(--white-color);
  margin-bottom: 30px;
}

.hero__btn {
  padding: 10px 32px;
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--footer-bg-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.icons-list {
  display: flex;
  gap: 30px;
}

.icons-list__item {
  width: 270px;
}

.icons-list__area {
  width: 100%;
  height: 120px;
  background: var(--secondary-bg-color);
  border-radius: 4px;
  justify-content: center;
  margin-bottom: 30px;
}

.icons-list__title {
  font-size: 14px;
  line-height: 1.14;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.icons-list__text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.about__container {
  padding-top: 0;
}

.img-list {
  display: flex;
  gap: 30px;
}

.img-list__wrap {
  position: relative;
}

.img-list__text {
  position: absolute;
  bottom: 0;
  color: var(--white-color);
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  height: 70px;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.team {
  background-color: var(--secondary-bg-color);
}

.people-list {
  display: flex;
  gap: 30px;
}

.people-list__item {
  width: 270px;
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  display: block;
}

.people-list__wrap {
  padding-top: 30px;
  padding-bottom: 30px;
}

.people-list__title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.people-list__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
  color: var(--secondary-text-color);
}

.socials__link--team {
  background: var(--white-color);
  fill: var(--icons-color);
  transition: fill var(--transition);
}
.socials__link--team:hover, .socials__link--team:focus {
  fill: var(--white-color);
}

.pic-list {
  display: flex;
  gap: 30px;
}

.pic-list__item {
  width: calc((100% - 150px) / 6);
  height: 90px;
}

.pic-list__link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--icons-color);
  border-radius: 4px;
  justify-content: center;
  fill: var(--icons-color);
  transition: border-color var(--transition), fill var(--transition);
}
.pic-list__link:hover, .pic-list__link:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-bg-color);
}

.footer__logo {
  margin-bottom: 20px;
}

.address {
  font-style: normal;
}

.contacts-list__map,
.contacts-list__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color var(--transition);
}
.contacts-list__map:hover, .contacts-list__map:focus,
.contacts-list__link:hover,
.contacts-list__link:focus {
  color: var(--accent-color);
}

.contacts-list__map {
  color: var(--white-color);
}

.contacts-list__link {
  color: var(--rgba-color);
}

.contacts-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.socials__link--footer {
  background: rgba(255, 255, 255, 0.1);
  fill: var(--white-color);
}

.footer__title,
.online-form__title {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--white-color);
}

.online-form__title {
  display: block;
}

.footer-wrap {
  display: flex;
  align-items: baseline;
}

.footer-social {
  margin-left: 70px;
}

.footer-sign-up {
  margin-left: auto;
}

.wrap-input {
  display: flex;
}

.online-form__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--secondary-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: 0.03em;
  padding: 15px 16px;
  outline: transparent;
  background-color: transparent;
  margin-right: 12px;
  transition: border-color var(--transition);
}
.online-form__input:focus {
  border-color: var(--accent-color);
}
.online-form__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.26;
  letter-spacing: 0.03em;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}
.online-form__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.26;
  letter-spacing: 0.03em;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}
.online-form__input::placeholder {
  font-size: 16px;
  line-height: 1.26;
  letter-spacing: 0.03em;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

.online-form__btn {
  justify-content: center;
  gap: 10px;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
}

.online-form__icon {
  fill: currentColor;
}

.list-buttons {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.list-buttons__btn {
  display: inline-block;
  padding: 6px 22px;
  border: 1px solid transparent;
  font-family: inherit;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
  background-color: var(--secondary-bg-color);
  transition: background-color var(--transition), color var(--transition), box-shadow var(--transition);
}
.list-buttons__btn:hover, .list-buttons__btn:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.card-list > .card-list__item {
  flex-basis: calc((100% - 60px) / 3);
}

.top-wrap {
  position: relative;
  overflow: hidden;
}

.top-wrap__descr {
  position: absolute;
  top: 0;
  padding: 63px 24px;
  color: var(--white-color);
  background: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.03em;
  height: 100%;
  transform: translateY(100%);
  transition: transform var(--transition);
}
.card-list__link:hover .top-wrap__descr, .card-list__link:focus .top-wrap__descr {
  transform: translateY(0);
}

.portfolio-wrap {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.card-list__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.card-list__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.card-list__link {
  display: block;
  transition: box-shadow var(--transition);
}
.card-list__link:hover, .card-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}/*# sourceMappingURL=main.css.map */