.pic-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.pic-list__item {
  height: 90px;
  width: calc((100% - 30px) / 2);

  @media screen and (min-width: 768px) {
    @include formula(3, 30px);
  }

  @media screen and (min-width: 1200px) {
    @include formula(6, 30px);
  }
}

.pic-list__link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--icons-color);
  border-radius: 4px;
  @extend %align-list;
  justify-content: center;
  fill: var(--icons-color);

  transition: border-color var(--transition), fill var(--transition);
  &:hover,
  &:focus {
    border-color: var(--accent-color);
    fill: var(--accent-color);
  }
}

.clients__title {
  @include font(28px, 700, 1.17, null);
  text-align: center;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    @include font(36px, null, 1.17, null);
    margin-bottom: 50px;
  }
}
